body {
    background-color: dimgray!important;
}

.ChessBoard {
    display: block;
    margin: auto;
    position: relative;
    transform: rotate(0deg);
    transition: transform 3s;
}

.ChessSquare {
    position: absolute;
    display: inline-block;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.ChessSquareFull:hover {
    cursor: pointer;
}

.ChessSquare img {
    display: block;
    height: 80%;
    margin: 10% auto;
    transform: rotate(0deg);
    transition: transform 3s;
}

.SquareColor2 {
    background-color: #155f4e
}

.SquareColor1 {
    background-color: #f7e5a3
}

.SquareSelected {
    background-color: aquamarine !important;
}

.FlipBoard{
    transform: rotate(180deg);
}
    .FlipBoard img {
        transform: rotate(-180deg);
    }

    .AllowedSquare1 {
        background-color: #fb9552 !important;
        cursor: pointer;
    }
.AllowedSquare2 {
    background-color: #8a5227 !important;
    cursor:pointer;
}

.menu {
    box-shadow: 0px 30px 100px black;
    text-align: right;
    padding: 30px;
    margin:30px auto;
    border-radius:10px;
    background-color:#d4ca92;
}
.btn{
    border-radius:2px!important;
    margin:5px auto;
}

#ScoreBoard{
    margin: 20px auto;
    border-radius:20px;
}

#WhiteScore, #BlackScore{
    display:inline-block;
    width:49%;
    height:100%;
    margin:0;
    padding:0;
    font-size:40px;
}

    #WhiteScore img, #BlackScore img {
        width:30%;
    }

.LastMoveSquare{
    border:2px solid #c40707;    
}

#PgnBoard {
    min-height:200px;
    margin:20px auto;
}

.FENBoard{
    margin:20px auto;
    text-align:center;
}
#txtFENBoard{
    width:90%;
    margin:auto;
}

.Controls {
    display: block;
    margin: auto;
    background-color: #262626;
    text-align:center;
}